@font-face {
    font-family: 'bebasNeue';
    src: url('../fuentes/bebasNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'introRust';
    src: url('../fuentes/introRust.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
  