.cap-carousel {
  width: 100%;
  height: 20vh;
  overflow: hidden;
  background: #111;
  position: relative;
}

.carousel-track,
.carousel-text-track {
  display: flex;
  height: 100%;
  white-space: nowrap;
}

.carousel-track img {
  width: 20vh;
  height: 20vh;
  object-fit: cover;
  flex-shrink: 0;
  filter: brightness(0.5);
}

.coming-soon-text {
  font-family: 'bebasNeue', sans-serif;
  font-size: 5vh;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 4px #000;
  padding: 0 3em;
  opacity: 0.9;
  animation: blink 1.5s infinite alternate;
}
/* === PRODUCTO DESTACADO === */
.producto-destacado {
    height: auto;
    min-height: 80vh;
    padding: 3rem 1rem;
    background: linear-gradient(to top, #211f1e 0%, #000000 50%);
    overflow: hidden;
    position: relative;
  }
  
  .img-producto {
    max-height: 80vh;
    width: 100%;
    max-width: 400px;
    object-fit: contain;
  }
  
  .titulo-producto {
    margin-top: 10%;
    font-family: 'introRust', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 1px;
  }
  
  .subtitulo-producto {
    font-family: 'bebasNeue', sans-serif;
    font-weight: 900;
    font-size: 1.1rem;
    letter-spacing: 4px;
    margin-bottom: 1rem;
  }
  
  .descripcion-producto {
    font-family: 'bebasNeue', sans-serif;
    font-size: 0.95rem;
    line-height: 1.6;
    letter-spacing: 1px;
    color: #ccc;
  }
  
  /* === DECORACIONES === */
.decoracion {
    position: absolute;
    opacity: 1;
    z-index: 1;
  }
  
  .decoracion-up {
    top: 1%;
    left: 55%;
    transform: translateY(-50%);
    height: 60%;
  }
  
  .decoracion-down {
    bottom: 1%;
    right: 16%;
    height: 60%;
  }
  
  .decoracion img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
  
  /* Decoración X */
  .decoracion-x {
    bottom: 5%;
    left: 3%;
    height: 80px;
    position: absolute;
    z-index: 1;
    opacity: 1;
  }
  
  .decoracion-x img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }

  /* === Animación Fade Up === */
.fade-up {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 0.8s ease-out forwards;
    animation-delay: 0.2s;
  }
  